---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Tio Irawan"
  description="About Tio Irawan Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Tio Irawan at work"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am an Informatics Engineering student at the State Polytechnic of
            Malang. My passion for programming started when I was in Junior High
            School. It all began when I played Minecraft; playing every day
            introduced me to the world of modding. I started to learn Java and
            make my own mods. Since then, I have continued to learn more about
            programming and software development.
          </p>
          <br />
          <p>
            Currently, I am interested in mobile app development. I jumped into
            this field in 2019 when I joined Google Developer Kejar, where I
            learned Android App Development. During high school, I participated
            in an internship program that introduced me to React Native. I was
            blown away by how relatively simple React Native was compared to
            native Android development, so I began to explore multiplatform
            development. At that time, Flutter was booming, and since then, I
            have started to learn Flutter and have fallen in love with it.
          </p>
          <br />
          <p>
            Coding is my hobby. I enjoy learning new things and solving
            problems. In my free time, I like to explore new stuff, watch
            tutorials, and read articles. I believe in continuous learning and
            self-improvement. I am always looking for opportunities to learn and
            grow.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Bachelor of Applied Science in Informatics Engineering - State
            Polytechnic of Malang
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Dart | Java | Kotlin | Swift | Javascript | Typescript | PHP | C++ |
            Python | SQL | Flutter | Android Jetpack | SwiftUI | NestJs |
            Next.js | Nuxt | Express | Vue | React | Laravel | MySql | SQL
            Server | CI/CD | Unit & Integration Testing | Jira | UI/UX | Figma |
            Git Debugging | IDE Debugger
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
